* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container {
  box-shadow: 0px 0px 12px #ccc;
  /* background-color: aqua; */
  border-radius: 15px;
  padding: 1rem;
  margin: .5rem;
}
/* .container-cal {
  background-color: blue;
  display: flex;
  flex-direction: column;
} */

.title {
  margin: 2rem .5rem;
  text-align: center;
  text-transform: uppercase;
  
}

.container-cal {
  font-size: 1.2rem;
}

.container-cal input {
  /* background-color: antiquewhite; */
  padding: 1rem 1rem;
}

input {
  width: 100%;
  font-size: 1.2rem;
  padding: 8px 4px;
  margin: 8px 0;
  border-radius: 10px;
}

.btn {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  margin: 8px 0;
  padding: 10px 0;
  background-color: black;
  color: #FFF;
  border-radius: 15px;
  cursor: pointer;
}

.btn-outline {
  background-color: #fff;
  color: #333;
}

.message {
  margin: 10px;
  /* background-color: #333; */
  /* border: 1px solid #333; */
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 8px;
}

.center {
  text-align: center;
  margin: 1.5rem .5rem;
}
